.App {
  text-align: center;
  background-color: #0F7DBF;
}

.App-logo {
  height: 9vmin;
    pointer-events: none;
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 1%;
}



.App-header {
  background-color: white;

  border-bottom: 5px solid ;
  border-color: red;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

}

.App-link {
  color: #61dafb;
}
.App-footer {
  background-color: #0E4D74;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Roboto;

}

.App-footer p {


  font-weight: lighter;
  font-family: Roboto;

}