.content_title {   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
    color: white;
}

.content-logo{
    width: 8%;
}
.content-logo2{
    width: 8%;
}
.box {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content:space-around;
  }


  @media (max-width: 800px) {
    .box {
      flex-direction: column;
    }
  }
  .item-box {
    display: flex;
    color: white;
    flex-direction: column;
    width:80%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:20px;
  }
  .item-box p{
    width:50%;
  }
.content_subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;  
    color: red;
}

.form_box{
    background: white;
    width: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    padding: 2rem;
    border-radius: 8px;
}
.login{
    width: 40%;
    margin: 3% auto 7% ;
    border-radius: 4px;
    background-color: #FFF;
    padding: 40px;
    box-sizing: border-box;
    align-items: left;
    justify-content: left;
    text-align: left;
  }

.input_box{
    width: -webkit-fill-available;
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin-bottom: 6%;
    border: 1px solid #8E8E8E;
    border-radius: 5px;
}
.btn_c{
    width: 100%;
    height: 50px;
    color: white;
    background: #0E4D74;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size:20px;
}

.toast-header{
  color: white !important;
  background-color: rgb(83 255 45 / 85%) !important;
}
.toast-body{
  color: white; 
  background-color:  #44df35dd;
}